.titulo-principal {
  padding-left: 30px;
  
}

p {
  text-align: center;
}

em strong {
  color: red;
}

#barber {
  width: 100%;
}

.principal {
  background: #ccc;
  padding: 20px;
}

.titulos {
  text-align: center;
}

#mision {
  font-size: 20px;
}

.diferenciales {
  background: white;
  padding: 30px;
}

.items {
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.imagenDiferenciales {
  width: 35%;
}
